.ruff_cache
.cache
.coverage
.venv
.vscode
__pycache__
app/rag/data/*
!app/rag/data/catalog_courses.json
!app/rag/data/catalog_pages.json
!app/rag/data/catalog_programs.json
!app/rag/data/training_materials.json
!app/rag/data/website_pages.json
!app/rag/data/website_programs.json
reports
static/
static-widget/
tmp
